/* 韓吉color版本 */
$black: #151515;
$white: #fff;
$red-color: #c52323;
$app-orange: #eb5e3f;
$hint-color: #8f989d;
$disabled-gray: #c7cbce;
$border-color: #eaeaea;
$green-color: #125613;

$baseFontSize: 14px;
