.custom-section {
  background-color: rgba(#E5B13C, .2);
  padding-bottom: 100px;
}

.custom-container {
  padding-top: 30px !important;
  padding-left: 15px;
  padding-right: 15px;
}

.custom-card {
  @include flex(center, center);
  padding: 20px;

  @include sm {
    flex-direction: column;
  }

  .custom__head-block {
    @include flex(center, center);
    flex-direction: column;

    img {
      width: 150px;
      height: 150px;
      border-radius: 10px;
    }

    .subtitle {
      font-weight: 600;
      color: #9A9A9A;
      margin-bottom: 0;
    }
  }

  .custom-word {
    margin-top: -20px;
    margin-left: 30px;
    margin-bottom: 0;
    font-size: 1.2em;

    @include sm {
      margin-top: 0;
      margin-left: 0;
    }
  }

  &--reverse {
    flex-direction: row-reverse;

    .custom-word {
      margin-left: 0 !important;
      margin-right: 30px;
    }

    @include sm {
      flex-direction: column;
    }
  }
}
